{% extends 'layout.html' %}
{% load static %}
{% block body %}
    <div class="container col-4 border rounded p-3">
    <h3>hello login user</h3>
    <form method="POST">
        {% csrf_token %}
        {{form}}<br>
        <input type="submit" class="btn btn-success m-4" value="login" id="loginForm">
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).on('submit', '#loginForm', function(e){
            e.preventDefault();
            var username = $('#id_username').val()
            var password = $('#id_password').val()

            $.ajax({
                type: 'POST',
                url: '/login/',
                data:{
                    'username':username,
                    'password':password,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    console.log(response);
                }

            })
        })
    </script>
{% endblock %}



EBS Volume types -GP2, PIOPS,SSD,ST1,Sc1 and magnetic